# this is the .secrets file for the act testing the workflow locally
# for production, you need to setup the secrets
DOCKERHUB_USERNAME=your-docker-username
DOCKERHUB_TOKEN=your-dockerhub-token-here
SSH_PRIVATE_KEY=...
SSH_USER=your_user
SSH_HOST=your_host
